@import "tailwindcss";

/* Animate placeholder on hover & focus */
input::placeholder,
textarea::placeholder {
  transition: transform 0.25s ease, opacity 0.25s ease;
}

input:hover::placeholder,
textarea:hover::placeholder {
  transform: translateY(-20px);
  opacity: 0.8;
}

input:focus::placeholder,
textarea:focus::placeholder {
  transform: translateY(-20px);
  opacity: 0.6;
}


body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
